
Bin/Debug/iOS/liblibMoshine.Api.Weather.fx
Bin/Debug/iOS/libMoshine.Api.Weather.h
Bin/Debug/iOS/liblibMoshine.Api.Weather.a
Moshine.Api.Weather.sln.fire.cache
Moshine.Api.Weather.sln.fire.user
Bin/Debug/macOS/liblibMoshine.Api.Weather.a
Bin/Debug/macOS/liblibMoshine.Api.Weather.fx
Bin/Debug/macOS/libMoshine.Api.Weather.h
Bin/Debug/watchOS/liblibMoshine.Api.Weather.a
Bin/Debug/watchOS/liblibMoshine.Api.Weather.fx
Bin/Debug/watchOS/libMoshine.Api.Weather.h
Bin/Debug/Echoes.dll
Bin/Debug/Echoes.dll.mdb
Bin/Debug/Elements.dll
Bin/Debug/Elements.dll.mdb
Bin/Debug/Moshine.Api.Weather.deps.json
Bin/Debug/Moshine.Api.Weather.dll
Bin/Debug/Moshine.Api.Weather.dll.mdb
Bin/Debug/Moshine.Foundation.dll
Bin/Debug/Moshine.Foundation.dll.mdb
Bin/Debug/Newtonsoft.Json.dll
Bin/Debug/Newtonsoft.Json.xml
